<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>562241971426-0k4tvvbphg5d2o5bctbvf3kbebtnbmoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562241971426-0k4tvvbphg5d2o5bctbvf3kbebtnbmoe</string>
	<key>API_KEY</key>
	<string>AIzaSyDJzI0NZbeft5rPFAa3V8MZqEFV-Z_obVk</string>
	<key>GCM_SENDER_ID</key>
	<string>562241971426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprucelee.Circle</string>
	<key>PROJECT_ID</key>
	<string>circl-573df</string>
	<key>STORAGE_BUCKET</key>
	<string>circl-573df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562241971426:ios:5cdb7c387591a563</string>
	<key>DATABASE_URL</key>
	<string>https://circl-573df.firebaseio.com</string>
</dict>
</plist>