<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>39785023547-nus9ce4mas6hqfgkl4u9rbn3013lu031.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39785023547-nus9ce4mas6hqfgkl4u9rbn3013lu031</string>
	<key>API_KEY</key>
	<string>AIzaSyBfWHv-WPD4a0dsC2l4KM9XthkaPEXibc0</string>
	<key>GCM_SENDER_ID</key>
	<string>39785023547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westguards.circl</string>
	<key>PROJECT_ID</key>
	<string>circl-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>circl-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39785023547:ios:0f8c40432fe2aadb</string>
	<key>DATABASE_URL</key>
	<string>https://circl-2019.firebaseio.com</string>
</dict>
</plist>